<h2>Hello <%= @session_user.first_name %>, heres all of <%=@user.first_name%>'s previous Gnaws! (ya dumb fuck)</h2>


<div style="display:inline-block;">
  <form action="/logout" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log Out"/>
  </form>
  <br>
  <button type="button">
    <a href="/newsfeed/<%=@user.id%>">Newsfeed</a>
  </button>
  <button type="button">
    <a href="/setting/<%=@user.id%>">Setting</a>
  </button>
  <button type="button">
    <a href="/followers/<%=@user.id%>">Followers</a>
  </button>
  <button type="button">
    <a href="/all_users">All Users</a>
  </button>

</div>
<div>
  <img src ="<%= @user.avatar_url %>" alt="picture of louise" width="150">
</div>

<form action="/photo/<%=@user.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <textarea name='url' placeholder='paste your image url'></textarea>
  <input type="submit" value="change photo">
</form>
<hr></hr>
<br>

<form action="/profile/<%= @user.id %>/create" method="post">
  <textarea name="content" placeholder="Create a Gnaw"></textarea>
  <input type="submit" value="Post">
</form>

<%if @gnaws%>
  <ol>
  <% @gnaws.each do |gnaw| %>
     <li><%= gnaw.content %></li>
     <a href="/profile/<%=gnaw.id%>/delete"><button type="button">Delete</button></a>
     <p></p>
  <% end %>
  </ol>
<% end %>

<ul><h3>People <%=@user.first_name%> Gnaws</h3>
<% @followee_users.each do |user| %>
<li><a href="/profile/<%=user.id%>"><%= user.first_name %></a></li>
<% end %>
</ul>

<ul><h3>People Who Gnaw <%=@user.first_name%></h3>
<% @follower_users.each do |user| %>
<li><a href="/profile/<%=user.id%>"><%= user.first_name %></a></li>
<% end %>
</ul>




